<header class="page-header header container-fluid">
    <div class="overlay"></div>
      <div class="description">
        <h1>Welcome to the Book Hub!</h1>
        <p>Books are the plane, and the train, and the road. They are the destination, and the journey. They are home. —Anna Quindlen</p>
      </div>
</header>
