<div class='container text-center'>
<h2 class='display-4'>All Books:</h2>
<h3>There are <%= @books.count %> book(s)!</h3>

<h4><ul class="list-group">
<% @books.each do |book| %>
 <%= link_to book.title, book_path(book.id) %>
<% end %>
</ul></h4><br>
</div>



