@import "bootstrap";

  body {
    background-image: url("https://images4.alphacoders.com/879/thumb-1920-879343.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  /*--- navigation bar ---*/
  .navbar {
    background: #228B22; 
    overflow: auto;
    position: relative;
  }
  .nav-link,
  .navbar-brand {
    color: #fff;
    cursor: pointer;
  }
  .nav-link {
    margin-right: 1em !important;
  }
  .nav-link:hover {
    color: #000;
  }
  .navbar-collapse {
    justify-content: flex-end;
  }
  
  .description {
    top: 70px;
    position: relative;
    text-align: center;
  }
  .description h1 {
    color: #006400;
  }
  .description p {
    color: #556B2F;
    font-size: 1.3rem;
    line-height: 1.5;
  }
  .centered{
    margin: 0 auto;
    width: 80%;
  }
  



     .field_with_errors {
      display:inline;
      margin:0px;
      padding:0px;
     background-color: red;
    
  }